{% extends "layout.html" %}
{% block body %}

  <!-- SEARCH BAR -->
    <div class="top-bar">
    	<form class="search" id="search-group" method="GET" onsubmit="search_data(); return false;">
  			<input type="text" placeholder="Search" id="search-bar" class="form-control col-lg-8" />
        <!-- Way to get it to let you type enter and submit -->
        <input type="submit" style="position: absolute; left: -9999px"/>
    	</form>
    </div>

    <center> <img src="http://i1.kym-cdn.com/photos/images/newsfeed/001/112/704/8a8.jpg" /> </center>

    <!-- Text -->
    <div class="row content-text">
    	<div class="col-md-6 articles-text"></div>
    	<div class="col-md-6 comments-text"></div>
    </div>

    <!-- Charts -->
    <div class="row charts">
    	<div class="col-md-6 articles-chart"></div>
    	<div class="col-md-6 comments-chart"></div>
    </div>

{% endblock %}